.Main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyrights{
    margin: 0px 200px;
}

ul{
    text-align: left;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: gray;
}