body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  font-size: 20px;
  color: white;
  margin-bottom: 100px;  
}
::-webkit-scrollbar {
  width: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbutton{
  height: 100px;
  text-align:center;
  position:fixed;
  bottom:25px;
  right:5px;
  cursor:pointer;
  opacity: 0.5;
}

.topbutton:hover{
  opacity: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#1a1d22;
  color: bisque;
  text-align: center;
}