@import "~react-image-gallery/styles/css/image-gallery.css";

/* .image-gallery-image{
    max-height: 700px;
} */

.slideshow{
    padding-left: 5%;
    width: 90%;
}

/* mobile */
@media only screen and (max-width: 768px) {
    .image-gallery{
        display: none;
    }
}