.testcases tr, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.sitemap img{
    height: auto;
    width: 600px;
    border: 5px solid green;
}

.wireframes .horizontal{
    height: 400px;
    width: auto;
    border: 5px solid green;
}

.wireframes .vertical{
    height: 500px;
    width: auto;
    border: 5px solid green;
}

@media only screen and (max-width: 768px) {
    .sitemap img{
        height: auto;
        width: 60%;
    }

    .wireframes .horizontal{
        height: auto;
        width: 60%;
    }

    .wireframes .vertical{
        height: auto;
        width: 60%;
    }
}