.timeplanning{
    text-align: center;
}

.timeplanning table{
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

.timeplanning td{
    text-align: left;
}

.sitemap img{
    height: auto;
    width: 600px;
    border: 5px solid green;
}

.wireframes .horizontal{
    height: 400px;
    width: auto;
    border: 5px solid green;
}

.wireframes .vertical{
    height: 500px;
    width: auto;
    border: 5px solid green;
}

.logos img{
    height: 100px;
    width: auto;
}

.icons img{
    height: 100px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .sitemap img{
        height: auto;
        width: 60%;
    }

    .wireframes .horizontal{
        height: auto;
        width: 60%;
    }

    .wireframes .vertical{
        height: auto;
        width: 60%;
    }

    .timeplanning table{
        padding-left: 10px;
        padding-right: 10px;
    }
}